h1 {
    color: darkorchid;
    font-size: 40px;
    font-weight: 300;
    font-style: oblique;
    text-align: center;
    background-color: rgb(235, 204, 235);
}
#second-paragraph {
    color: rebeccapurple;
}
.cat-info, .last-paragraph {
    color: rgb(122, 44, 141);
}

body {
background-image: url(../images/brickwall.jpg);
background-attachment: fixed;
}
    
img {
    border-width: 5px;
    border-style: solid;
    border-color: rgb(77, 61, 107);
    border-top: 5px solid orchid;
    border-radius: 10px;
    box-shadow: 10px 10px 20px mediumpurple;
}
